.App {
  text-align: center;
}

.App-logo {
  width: 120px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px #888;
  margin-bottom: 10vmin;
}

.App-link {
  color: #61dafb;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
